body {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

.background {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: large;
}

.box {
  background-color: #fff;
  width: 100vw;
  max-width: 500px;
  height: 10vh;
  border-radius: 35px;
  padding: 2rem;
  text-align: center;
  margin-top: -15rem;
}


button {
  background-color: #ef1515;
  border: none;
  color: white;
  padding: 15px 25px;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0px 38px;
  margin-bottom: 30px;
  border-radius: 9px;
}


button:hover {
  background-color: #000000;
  transform: scale(1.05);
  color: white;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.animation {
  animation: tilt-shaking 0.3s infinite;
}

.purplebutton {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background-color: #ed217c;
  font-size: 1.4rem;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}